.productlist { width:100%; overflow:auto;}
.productlist li{ width:250px; height:290px; float:left; margin-top:0px; }

.productlist .product-item{  width:230px; height:275px;  border:solid 1px #eee; display:inline-block; position:relative; }
.productlist li:hover .product-item{ border:solid 1px #2A8CEF; }
.productlist .product-item.hover{ border:solid 1px #2A8CEF; }

.product-item .productimg { width:230px; height:230px; display:table-cell; background:url('/modules/images/none-img.png') no-repeat center; 
                            overflow:hidden; text-align:center; vertical-align:middle; 
                            background-color:#eee; }
.product-item .productimg img{ max-width:230px; max-height:230px;}
 
.product-item .name { width:220px;font-weight: bold; max-height:40px; line-height:30px;text-align: center; overflow:hidden; color:#333; margin:0 5px; 
                      font-size:14px; display:inline-block; }
.product-item .name:hover {  color:#0000cd;}
.product-item .sales-stock { padding:5px; position:absolute; bottom:0px; width:220px; }
.product-item .sales-stock span{ color:#999; }
.product-item .btnAddCart { height:35px; line-height:35px; width:100%; color:#999; position:absolute; cursor:pointer; 
                            text-align:center; bottom:0px; left:0px; font-size:16px; background-color:#ddd; display:none; } 
