@{
    ViewBag.Title = "广告设置";
}
 
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/webset/advert"], function (obj) {
            obj.initList('@ViewBag.Url');
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">广告列表</span> 
    <div class="right mRight10">
        <span data-name="添加设置" class="btn-add" >添加设置</span>
    </div>
</div>  
<div class="content-body">
    <table class="table-list">
        <tr class="tr-header" id="img-items">
            <td class="tLeft">图片</td>
            <td class="tLeft">所在页面</td>
            <td class="tLeft">描述</td> 
            <td class="center">上传日期</td>
            <td class="center">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
    <div class="clear"></div>
</div> 
<div id="popup">
    <div class="bg"><img src="" alt=""/></div>
</div>